@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
html,
body {
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

/* Apply Fonts */
body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

