@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
html,
body {
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

/* Apply Fonts */
body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

.markdown-container ul,
.markdown-container ol {
  all: unset; /* Reset any list styles */
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.markdown-container li{
  margin-bottom: 1rem;
}

.markdown-container p{
  margin-bottom: 0.5rem;
}